body{
	background:#F2F2F2;
}
.imagen{
	width:280px;
	height:130 px;
	position:relative;
	top: 200px;
	left:13%;
}
h2{
	width:340px;
  height:200px;
	position:relative;
	top:150px;
	left:13%;
}
p{
	color:black;
}
.iniciodesesion {
	position:relative;
	top: -200px;
	left:56%;
  width: 330px;
  background:white;
  padding: 30px;
  font-family: 'calibri';
  color: white;
  box-shadow: 1px 2px 10px #000;
  border-radius: 10px;
}
.opciones {
  width: 93%;
  background: #write;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #9E9E9E;
  font-family: 'calibri';
  font-size: 18px;
  color: 0051F5;
}
.boton {
  width: 100%;
  background: #0B80FF;
  border: none;
  border-radius: 7px;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
}
.boton2 {
  width: 100%;
  background: #3CB816;
  border: none;
  border-radius: 7px;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
}
.crear{
  text-align: center;
  position:relative;
	top: -195px;
	left:58%;
  width: 330px;
  font-family: 'calibri';
  font-size:15px;
}
h1{
  text-align: center;
}
h3{
  position: relative;
  left: 10%;
}
.cp{
  position: relative;
  left: 60%;
  top: -40px;
}
.img1{
  width: 500px;
  position: relative;
  left: 5%;
}
.img2{
  width: 500px;
  position: relative;
  left:10%;
}